test-resources/src/main/resources/documents/targetXMLSchema.xsd

<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="TargetXmlMappingTestClass">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="targetXmlDouble" type="xs:double"/>
                <xs:element name="targetXmlFloat" type="xs:float"/>
                <xs:element name="targetXmlInteger" type="xs:int"/>
                <xs:element name="targetXmlLong" type="xs:long"/>
                <xs:element name="targeXMmlShort" type="xs:short"/>
                <xs:element name="targetXmlString" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
